*{
    margin: 0;
    padding: 0;
}
.sidebar{
    position: absolute;
     background-color:gray;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    height: 100vh;
    transition:transform 0.3s ease-in;
}
.sidebar nav{
    padding: 45px;
}
.sidebar nav li{
    list-style: none;
    font-size: 30px;
    padding:33px 0;
}
.sidebar nav li a{
    text-decoration:none;
    color: white;
}
.main{
    /* background-color:yellow; */
    width: 90vw;
}
.container{
    display: flex;
}
.infoContainer{
    /* background-color: aqua; */
    height: 58vh;
    width: 80vw;
    margin: 144px auto;
    display: flex;
    justify-content: space-around;
}
.devInfo{
    font-size: 16px;
    display: flex;
    justify-content: center;
    flex-direction:column;
    font-family: 'Courier New', Courier, monospace;
}
.hello{
    font-size:3em;
}
.name{
    font-size:3em;
    font-weight:bold;
}
.about{
    font-size:2.5em;
}
.moreabout{
    font-size:2.2em;
    margin-top:23px;
    font-family: 'Courier New', Courier, monospace;
}
.buttons{
    margin-top:34px;
    font-size: 16px;
}
.btn{
    margin-top:3px 3px ;
    padding-top:9px 14px ;
    border-radius:22px ;
    color:white ;
    background-color:dodgerblue ;
    font-weight:bold ;
    font-size:2em ;
    cursor: pointer;
}
.btn-sm{
    font-size:10px;
    padding:7px 13px;
    margin:10px 0;
}
.btn:hover{
    color:dodgerblue;
    background-color:white ;
}
.devPic img{
    height:58vh;
}
.contactform{
    padding:0 34px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin:88px;
}
.contactform h1{
    font-family: 'Courier New', Courier, monospace;
    /* padding:12px 0; */
}
.contactform form div{
    padding:10px 0;
    display: flex;
    flex-direction:column;
}
.contactform form div input{
    padding:3px;
    margin:6px 0 0 0;
    border-radius:5px;
    /* width:26vw; */
    }
    .contactform{
        margin:0 40px;
    }
#emailHelp{
    font-size:11px;
    color:midnightblue;
    margin:0 5px;
    padding:3px 0 0 0;
}
#form-check{
    flex-direction: row;
}
#form-check input{
    width:24px;
    margin:3px 0;
}
.blogItem {
    margin: 20px;
    font-family: 'Courier New', Courier, monospace;
}
.blogContainer{
    margin:88px;
}
h1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 23px;
} 
p{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.intro{
    margin:88px;
}
.intro h2{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin:12px;
}
.intro p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 12px;
}
.skillcontainer{
    padding: 12px;
}
.skillItem{
    display: flex;
    align-items: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 900;
}
.skill{
    width: 265px;
    height: 6px;
    border: 2px solid black;
}
.hundered{
    width: 265px;
    background-color: blueviolet;
}
.fifty{
    width: 125px;
    background-color: aqua;
}
.t5{
    width: 75px;
    background-color: yellowgreen;
}
.sidebarGo{
    transform: translate(-443px 0px);
    position: absolute;
}
.hamburger{
    position: absolute;
    cursor: pointer;
    top: 10px;
    left: 10px;
}
.hamb{
    margin-top: 10px;
    margin-left:10px;
}
.cross{
    margin-left: 185px;
    margin-top: 10px;
}
@media (max-width:1615px) {
    /* *{background-color:rgb(245, 179, 179);} */
    .devInfo{
        font-size: 10px;
    }
    .buttons{
        font-size: 6px;
    }
    .devPic{
        display:none;
    }
    .intro,.blogContainer,.contactform{
        margin:8px;
    }
    }