*{
    margin: 0;
    padding: 0;
}
.sidebar{
     background-color:gray;
    width:434px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    height: 100vh;
}
.sidebar nav{
    padding: 45px;
}
.sidebar nav li{
    list-style: none;
    font-size: 30px;
    padding:33px 0;
}
.sidebar nav li a{
    text-decoration:none;
    color: white;
}
.main{
    /* background-color:yellow; */
    width: 90vw;
}
.container{
    display: flex;
}
.infoContainer{
    /* background-color: aqua; */
    height: 58vh;
    width: 80vw;
    margin: 144px auto;
    display: flex;
    justify-content: space-around;
}
.devInfo{
    display: flex;
    justify-content: center;
    flex-direction:column;
    font-family: 'Courier New', Courier, monospace;
}
.hello{
    font-size:75px;
}
.name{
    font-size:60px;
    font-weight:bold;
}
.about{
    font-size:45px;
}
.moreabout{
    font-size:22px;
    margin-top:23px;
    font-family: 'Courier New', Courier, monospace;
}
.buttons{
    margin-top:34px;
}
.btn{
    margin-top:0 3px ;
    padding-top:9px 14px ;
    border-radius:22px ;
    color:white ;
    background-color:dodgerblue ;
    font-weight:bold ;
    font-size:21px ;
    cursor: pointer;
}
.btn-sm{
    font-size:10px;
    padding:7px 13px;
    margin:10px 0;
}
.btn:hover{
    color:dodgerblue;
    background-color:white ;
}
.devPic img{
    height:58vh;
}
.contactform{
    padding:0 34px;
    padding-top:144px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.contactform h1{
    font-family: 'Courier New', Courier, monospace;
    padding:12px 0;
}
.contactform form div{
    padding:10px 0;
    display: flex;
    flex-direction:column;
}
.contactform form div input{
    padding:3px;
    margin:6px 0 0 0;
    border-radius:5px;
    width:26vw;
    }
#emailHelp{
    font-size:11px;
    color:midnightblue;
    margin:0 5px;
    padding:3px 0 0 0;
}
#form-check{
    flex-direction: row;
}
#form-check input{
    width:24px;
    margin:3px 0;
}
.blogItem {
    margin: 20px;
    font-family: 'Courier New', Courier, monospace;

}
h1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 23px;
} 
p{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.intro h2{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin:12px;
}
.intro p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 12px;
}
.skillcontainer{
    padding: 12px;
}
.skillItem{
    display: flex;
    align-items: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 900;
}
.skill{
    width: 265px;
    height: 6px;
    border: 2px solid black;
}
.hundered{
    width: 265px;
    background-color: blueviolet;
}
.fifty{
    width: 125px;
    background-color: aqua;
}
.t5{
    width: 75px;
    background-color: yellowgreen;
}
@media (max-width:1615px) {
    *{background-color:rgb(245, 179, 179);}
    .sidebar{
        transform: translate(443px 0);
        position: absolute;
    }
}